/* Login

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    list-style-type: none;
}

.form-container li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

input{
    height: 10px;
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
}

.button{
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: .5rem;
    cursor: pointer;
}

.button:hover{
     border: .1rem #404040 solid;
}

.btn-primary{
    background-color: #f0c040;
}

.button.secondary{
    background-color: lightgrey;
}

.text-center{
    text-align: center;
} */


/* Login */

@import url('https://fonts.googleapis.com/css?family=Numans');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  
}


.container{
    background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
height: 100%;
align-content: center;
}

h3{
    text-align: left;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 200px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}