body{
 background-color: black;
}
.head1{
    background-image:url('https://ksassets.timeincuk.net/wp/uploads/sites/54/2018/05/LCD-4z_LS_Dark-920x613.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
h1{
    color: yellow;
    margin-top: 20%;
    margin-bottom: auto;
    font-style: italic;
    font-family: monospace;
    text-align: center;
    font-size: 100px;
}
p{
    text-align: center;
    margin-top: 2px;
    color:whitesmoke;
    font-size: 30px;
}

li{
    list-style: none;
    display: inline;
}

button{
    background-color:yellowgreen;
    border: none;
    display: inline-block;
    padding: 15px 32px;
}

.section-music{
    background-image: url('https://cdn.guidingtech.com/imager/assets/189453/How-to-Quickly-Transfer-Videos-or-Music-to-iPhone-Using-VLC-fi_180117_111330_4d470f76dc99e18ad75087b1b8410ea9.jpg?1573743593');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
   

    
}

.section-settings{
    background-color: turquoise;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h2{
    font-size: 20px;
    color: brown;
    font-family: monospace;
}
.choose{
 
}


